/* főoldal, fő elemek */

body {
    background-color:lightyellow;
}

header{
    color: orange;
    font-size: large;
    text-align: center;
}

footer{
    text-align: center;
    margin-top: 100px;
    margin-left: 250px;
}

aside {
    float: right;
}

h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: orange;
    text-align: center;
    text-transform: uppercase;
}

.alcím {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: orange;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 20px;
}

ul {
    list-style-type : none;
    padding: 0;
    margin: auto;
    float: left;
    border: 1px solid orangered;
    background: orange;
    border-radius: 20px;
}

li {
    float: left;
    border-left: 1px solid orangered;
    border-right: 1px solid orange;
    padding: 10px;
    font-size: 25px;
    font-weight: bolder;
}
li:first-child{
    border-left: none;
}
li:last-child{
    border-right: none;
}
div.menu a{
    color:yellow;
    text-decoration: none;
}

li:hover {
background:red;
border-radius: 20px;
}

#aktualis {
    color: black;
}

article {
    font-size: x-large;
    text-align: left;
    border-left: thick solid black;
    font-weight: bolder;
    padding-left: 10px;
}

#JELENTKEZZ {
    border: none;
    padding-left: 10px;
    padding-top: 50px;
    font-weight: bolder;
    text-align: center;
    font-size: xx-large;
    padding-left: 250px;
}

#imgmap {
    text-align: center;
    padding-left: 250px;
    padding-top: 100px;
}

/* táblázat */

table {
    border: 3px solid lightslategray;
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
}

caption {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 30px;
    font-style: italic;
}

th, td {
    border: 1px solid black;
    vertical-align: middle;
}

#cal {
    color: red;
}

#összevont {
    text-align: center;
    font-weight: bolder;
}

.burgernev {
    color: lightsalmon;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.calnev {
    color: red;
    text-align: center;
}

.arnev {
    text-align: center;
}

.specnev {
    text-align: center;
}

tr:hover {
    background-color: #CC6633;
}

tr:nth-of-type(even) {
    background-color: #F2F2F2;
}

/* szpájszi */

#szpájszi {
    font-weight: bold;
    font-style: italic;
    text-align: center;
}
.vembedr{
    text-align: center;
}

.gomb{
    background-color:orange;
}
div{
    width: 1000px;
    margin: auto;
}

div#link{
    text-align: center;
    font-weight: bolder;
    color: black;
    text-decoration:none;
    font-size: larger;
}

.gif{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.urlap{
    width: 600px;
    color: red;
    border: 2px solid red;
    background-color: yellow;
}