/* főoldal */

h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: orange;
    text-align: center;
    text-transform: uppercase;
}

ul {
    list-style-type : none;
}

li {
    border: 10px solid orangered;
    padding: 0px 10px 10px 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: bolder;
    text-transform: uppercase;
}

.menu:hover {
    color: black;
}

#aktualis {
    color: red;
}
#aktualis:hover {
    color: black;
}

/* táblázat */

table {
    border: 3px solid lightslategray;
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
}

caption {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 30px;
    font-style: italic;
}

th, td {
    border: 1px solid black;
    vertical-align: middle;
}

#cal {
    color: red;
}

#összevont {
    text-align: center;
    font-weight: bolder;
}

.burgernev {
    color: lightsalmon;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.calnev {
    color: red;
    text-align: center;
}

.arnev {
    text-align: center;
}

.specnev {
    text-align: center;
}

tr:hover {
    background-color: #CC6633;
}

tr:nth-of-type(even) {
    background-color: #F2F2F2;
}

.gomb{
    background-color: #4CAF50;
}